
image:
  repo: docker.io/mcluseau/knls
  tag: 0.2.0

hostNetwork: true
nodeSelector: null

#extra_conf: |-
#  on_start: ...
#
# a common requirement would be to masq pods' outgoing traffic; pod are usually connected with veth:
#  on_start:
#  - !nft_chain
#    table: knls
#    chain: masq-pods
#    rules: |-
#      type nat hook postrouting priority 999; policy accept;
#      meta iifkind "veth" oifname != "kwg" masquerade

#service_ips: [ 1.2.3.4 ]
cluster_domain: cluster.local
extra_zones: {}

# for direct connection:
#
#cluster_url: "https://kubernetes:6443"
#hostAliases:
#- { hostnames: [ kubernetes ], ip: 1.1.1.1 }
#- { hostnames: [ kubernetes ], ip: 2.2.2.2 }
#- { hostnames: [ kubernetes ], ip: 3.3.3.3 }

# values: null, wireguard
connectivity: null

wireguard:
  ifname: kwg
  key_dir: /var/lib/knls/wireguard
  key: wireguard.key

dns: internal

unbound:
  listen: |
    interface: 0.0.0.0
    interface: ::0
  server_extra: |
    access-control: ::1/128        allow
    access-control: 127.0.0.0/8    allow
    access-control: 10.0.0.0/8     allow
    access-control: 172.16.0.0/12  allow
    access-control: 192.168.0.0/16 allow
    access-control: fd00::/8       allow
  extra_conf: ""

hw_labels: true

resources:
  knls:
    limits:
      memory: 16Mi
    requests:
      memory: 10Mi
      cpu: 10m
  unbound:
    limits:
      memory: 12Mi
    requests:
      memory: 12Mi
      cpu: 10m

